build/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/reset.css" type="text/css">
    <link rel="stylesheet" href="css/normalize.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="css/swiper.min.css" rel="stylesheet" type="text/css">
    <link href="css/main.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <!--CONTENT-->
    <div class="content">
      <nav>
        <div class="container">
          <div class="row">
            <div class="col-sm-3 col-xs-6"><a class="logo" href="#"><img src="img/logo.png" alt="logo"></a></div>
            <div class="col-sm-7 col-xs-2">
              <div class="search-block">
                <form class="form-search">
                  <p>
                    <input type="search" name="q" placeholder="Shipyard name, vessel">
                    <button class="btn-search" type="button"><img src="img/search.png"></button><a class="adv-search" href="#">Advanced search</a>
                  </p>
                </form>
                <button class="btn-mob" type="button"><img src="img/search-mob.png"></button>
              </div>
            </div>
            <div class="col-sm-2 col-xs-4">
              <div class="profile">
                <div class="flag"><img src="img/en.jpg" alt="flag"></div>
                <div class="foto"><img class="foto" src="img/foto.jpg" alt="foto"></div>
                <button type="button"><img src="img/arrow.png" alt=""></button>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <header>
        <div class="container">
          <div class="main-slider">
            <div class="swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="img/slide1.jpg"></div>
                <div class="swiper-slide"><img src="img/slide2.jpg"></div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <section class="info">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-xs-12">
              <h2 class="vessel-name">Emma Maersk</h2>
              <h3 class="vessel-com">\ Emma Maersk Group</h3>
              <p class="vessel-country"> <img class="img-flat" src="img/denmark_flat.png">Denmark, Odense</p>
              <table class="table-info">
                <tr>
                  <td>Type:</td>
                  <td>Cargo</td>
                </tr>
                <tr>
                  <td>Year of Build:</td>
                  <td>2006</td>
                </tr>
                <tr>
                  <td>IMO:</td>
                  <td>9474060</td>
                </tr>
                <tr class="tr-bg">
                  <td>Callsign:</td>
                  <td>ESJO</td>
                </tr>
                <tr>
                  <td>MMSI:</td>
                  <td>276786000</td>
                </tr>
                <tr>
                  <td>Length:</td>
                  <td>200.0m</td>
                </tr>
                <tr>
                  <td>Beam:</td>
                  <td>18.0m</td>
                </tr>
                <tr>
                  <td>GRT:</td>
                  <td>20000</td>
                </tr>
                <tr>
                  <td>Manager:</td>
                  <td>MAERSK LINE A/S</td>
                </tr>
                <tr>
                  <td>Owner:</td>
                  <td>MAERSK LINE A/S</td>
                </tr>
                <tr>
                  <td>Insurer:</td>
                  <td>BRITANNIA STEAMSHIP INSURANCE ASSOCIATION LD</td>
                </tr>
                <tr>
                  <td>Shipyard:</td>
                  <td>ODENSE STEEL SHIPYARD LTD.</td>
                </tr>
                <tr>
                  <td>Class:</td>
                  <td>DNVGL</td>
                </tr>
                <tr>
                  <td>Engine:</td>
                  <td>DOOSAN ENGINE CO. LTD.</td>
                </tr>
                <tr>
                  <td>Aux Engine:</td>
                  <td>MAK 6M43</td>
                </tr>
                <tr>
                  <td>Vessel age:</td>
                  <td>11 years</td>
                </tr>
                <tr>
                  <td>Next Docking:</td>
                  <td>JAN 2018 (expected)</td>
                </tr>
                <tr>
                  <td>Next Survey:</td>
                  <td>JAN 2018</td>
                </tr>
              </table>
            </div>
            <div class="col-md-6 col-xs-12">
              <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-4">
                  <div class="maersk1"></div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                  <div class="maersk2"></div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                  <div class="maersk3"></div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <p class="h-pos">Actual Position</p><img class="position" src="img/map.jpg">
                  <button class="btn-route" type="button">Plan Route from thes Position to shipyard<span class="ic-arr">
                      <svg>
                        <use xlink:href="#ic-arow-right"></use>
                      </svg></span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="engine">
        <div class="container">
          <h2 class="h-main">Engine</h2>
          <table id="keywords">
            <thead>
              <tr>
                <th><span>Column</span></th>
                <th><span>Column</span></th>
                <th><span>Column</span></th>
                <th><span>Column</span></th>
              </tr>
            </thead>
            <tbody>
              <tr class="tr-bg">
                <td class="lalign">Data 1</td>
                <td>Data 2</td>
                <td>Data 3</td>
                <td>Data 4</td>
              </tr>
              <tr>
                <td class="lalign">Data 5</td>
                <td>Data 6</td>
                <td>Data 7</td>
                <td>Data 8</td>
              </tr>
              <tr>
                <td class="lalign">Data 9</td>
                <td>Data 10</td>
                <td>Data 11</td>
                <td>Data 12</td>
              </tr>
              <tr>
                <td class="lalign">Data 13</td>
                <td>Data 14</td>
                <td>Data 15</td>
                <td>Data 16</td>
              </tr>
              <tr>
                <td class="lalign">Data 17</td>
                <td>Data 18</td>
                <td>Data 19</td>
                <td>Data 20</td>
              </tr>
            </tbody>
          </table>
          <ul class="tabs">
            <li class="tab-link current-tab" data-tab="tab-1">Working hours per Month</li>
            <li class="tab-link" data-tab="tab-2">Speed Profile</li>
          </ul>
          <div class="tab-content current-tab" id="tab-1"><img src="img/workinghours.jpg"></div>
          <div class="tab-content" id="tab-2"><img src="img/speed-profile.jpg"></div>
        </div>
      </section>
      <section class="engine">
        <div class="container">
          <h2 class="h-main">Shipyards history</h2>
          <table id="history">
            <thead>
              <tr>
                <th><span>Start time</span></th>
                <th><span>End time</span></th>
                <th><span>Yard name</span></th>
                <th><span>Country</span></th>
                <th><span>Duration</span></th>
              </tr>
            </thead>
            <tbody>
              <tr class="tr-bg">
                <td class="lalign">2015-08-14  06:35:43.2515</td>
                <td>2015-11-14  06:35:43.2515</td>
                <td>Emma Maersk</td>
                <td>Denmark</td>
                <td>-76 days</td>
              </tr>
              <tr>
                <td class="lalign">2015-07-28  06:35:43.968</td>
                <td>2015-10-14  06:35:43.968</td>
                <td>Emma Maersk</td>
                <td>Denmark</td>
                <td>28 days</td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
      <section class="last-ports">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-xs-12">
              <h2 class="h-main">Last Posts</h2>
              <table id="table-info">
                <thead>
                  <tr>
                    <th><span>Port</span></th>
                    <th><span>Berth</span></th>
                    <th><span>Cast off</span></th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="tr-bg">
                    <td>Hamburg</td>
                    <td>42</td>
                    <td>24</td>
                  </tr>
                  <tr>
                    <td>Rotterdam</td>
                    <td>55</td>
                    <td>31</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-sm-6 col-xs-12">
              <h5>Sailing Area</h5><img class="map-asiling" src="img/map-2.jpg">
            </div>
          </div>
        </div>
      </section>
      <section class="master-data">
        <div class="container">
          <h2 class="h-main">Master Data</h2>
          <ul class="tabs2">
            <li class="tab-link2 current-tab2" data-tab="tab-m1">General</li>
            <li class="tab-link2" data-tab="tab-m2">Management</li>
            <li class="tab-link2" data-tab="tab-m3">Tonnage</li>
            <li class="tab-link2" data-tab="tab-m4">Dimensions</li>
            <li class="tab-link2" data-tab="tab-m5">Capacity</li>
            <li class="tab-link2" data-tab="tab-m6">Yard</li>
            <li class="tab-link2" data-tab="tab-m7">Classification</li>
          </ul>
          <div class="tab-content2 current-tab2" id="tab-m1">
            <table class="table-info">
              <tr>
                <td>Type:</td>
                <td>Cargo</td>
              </tr>
              <tr>
                <td>Year of Build:</td>
                <td>2006</td>
              </tr>
              <tr>
                <td>IMO:</td>
                <td>9474060</td>
              </tr>
              <tr class="tr-bg">
                <td>Callsign:</td>
                <td>ESJO</td>
              </tr>
              <tr>
                <td>MMSI:</td>
                <td>276786000</td>
              </tr>
              <tr>
                <td>Length:</td>
                <td>200.0m</td>
              </tr>
              <tr>
                <td>Beam:</td>
                <td>18.0m</td>
              </tr>
              <tr>
                <td>GRT:</td>
                <td>20000</td>
              </tr>
              <tr>
                <td>Manager:</td>
                <td>MAERSK LINE A/S</td>
              </tr>
              <tr>
                <td>Owner:</td>
                <td>MAERSK LINE A/S</td>
              </tr>
              <tr>
                <td>Insurer:</td>
                <td>BRITANNIA STEAMSHIP INSURANCE ASSOCIATION LD</td>
              </tr>
              <tr>
                <td>Shipyard:</td>
                <td>ODENSE STEEL SHIPYARD LTD.</td>
              </tr>
              <tr>
                <td>Class:</td>
                <td>DNVGL</td>
              </tr>
              <tr>
                <td>Engine:</td>
                <td>DOOSAN ENGINE CO. LTD.</td>
              </tr>
              <tr>
                <td>Aux Engine:</td>
                <td>MAK 6M43</td>
              </tr>
              <tr>
                <td>Vessel age:</td>
                <td>11 years</td>
              </tr>
              <tr>
                <td>Next Docking:</td>
                <td>JAN 2018 (expected)</td>
              </tr>
              <tr>
                <td>Next Survey:</td>
                <td>JAN 2018</td>
              </tr>
            </table>
          </div>
          <div class="tab-content2" id="tab-m2">
            <h3>Info about Management</h3>
          </div>
          <div class="tab-content2" id="tab-m3">
            <h3>Info about Tonnage</h3>
          </div>
          <div class="tab-content2" id="tab-m4">
            <h3>Info about Dimensions</h3>
          </div>
          <div class="tab-content2" id="tab-m5">
            <h3>Info about Capacity</h3>
          </div>
          <div class="tab-content2" id="tab-m6">
            <h3>Info about Yard</h3>
          </div>
          <div class="tab-content2" id="tab-m7">
            <h3>Info about Classification</h3>
          </div>
        </div>
      </section>
      <footer>
        <div class="container">
          <div class="footer-block">
            <p>2017 © MDS</p>
            <ul class="footer-link">
              <li><a href="#">Blog</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Catalog</a></li>
              <li><a href="#">Shipyards</a></li>
              <li><a href="#">Shipowners</a></li>
              <li><a href="#">Accounts</a></li>
              <li><a href="#">Privancy policy</a></li>
              <li><a href="#">Terms & conditions</a></li>
              <li><a href="#">Imprint</a></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
    <!--x - content-->
    <!-- FOOTER-->
    <div class="icons-hidden">
      <svg xmlns="http://www.w3.org/2000/svg">
        <symbol id="ic-arow-right" viewBox="0 0 42.5 63.5" enable-background="new 0 0 42.5 63.5" xml:space="preserve">
          <path d="M15.08,5.829c2.088,2.038,22.51,23.479,22.51,23.479c1.115,1.088,1.672,2.513,1.672,3.939s-0.557,2.853-1.672,3.939c0,0-20.422,21.441-22.51,23.479c-2.09,2.038-5.848,2.177-8.08,0c-2.229-2.174-2.406-5.21,0.002-7.878l18.734-19.541L7.002,13.708C4.594,11.039,4.771,8.003,7,5.829C9.232,3.652,12.99,3.791,15.08,5.829z"></path>
        </symbol>
      </svg>
    </div>
    <script src="js/jquery-2.2.3.min.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/jquery.tablesorter.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>

dev/index.pug
extends ./template/layout

block title
    title Home

block content
    nav
      .container
        .row
          .col-sm-3.col-xs-6
            a.logo(href='#')
              img(src='img/logo.png', alt='logo')
          .col-sm-7.col-xs-2
            .search-block
              form.form-search
                p
                  input(type='search', name='q', placeholder='Shipyard name, vessel')
                  button.btn-search(type="button")
                    img(src="img/search.png")
                  a.adv-search(href="#") Advanced search
              button.btn-mob(type="button")
                img(src="img/search-mob.png")
          .col-sm-2.col-xs-4
            .profile
              .flag
                img(src='img/en.jpg', alt='flag')
              .foto
                img.foto(src='img/foto.jpg', alt='foto')
              button(type="button")
                img(src='img/arrow.png', alt='')
    header
      .container
        .main-slider
          .swiper-container
              .swiper-wrapper
                  .swiper-slide
                    img(src="img/slide1.jpg")
                  .swiper-slide
                    img(src="img/slide2.jpg")
    section.info
      .container
        .row
          .col-md-6.col-xs-12
            h2.vessel-name Emma Maersk
            h3.vessel-com \ Emma Maersk Group
            p.vessel-country 
              img.img-flat(src="img/denmark_flat.png")
              | Denmark, Odense
            table.table-info
              tr
                td Type:
                td Cargo
              tr
                td Year of Build:
                td 2006
              tr
                td IMO:
                td 9474060
              tr.tr-bg
                td Callsign:
                td ESJO
              tr
                td MMSI:
                td 276786000
              tr
                td Length:
                td 200.0m
              tr
                td Beam:
                td 18.0m
              tr
                td GRT:
                td 20000
              tr
                td Manager:
                td MAERSK LINE A/S
              tr
                td Owner:
                td MAERSK LINE A/S
              tr
                td Insurer:
                td BRITANNIA STEAMSHIP INSURANCE ASSOCIATION LD
              tr
                td Shipyard:
                td ODENSE STEEL SHIPYARD LTD.
              tr
                td Class:
                td DNVGL
              tr
                td Engine:
                td DOOSAN ENGINE CO. LTD.
              tr
                td Aux Engine:
                td MAK 6M43
              tr
                td Vessel age:
                td 11 years
              tr
                td Next Docking:
                td JAN 2018 (expected)
              tr
                td Next Survey:
                td JAN 2018
          .col-md-6.col-xs-12
            .row
              .col-md-4.col-sm-4.col-xs-4
                .maersk1
              .col-md-4.col-sm-4.col-xs-4
                .maersk2
              .col-md-4.col-sm-4.col-xs-4
                .maersk3
            .row
              .col-xs-12
                p.h-pos Actual Position
                img.position(src="img/map.jpg")
                button.btn-route(type="button") Plan Route from thes Position to shipyard
                  span.ic-arr
                    svg
                      use(xlink:href='#ic-arow-right')
    section.engine
      .container
        h2.h-main Engine
        table#keywords
          thead
            tr
              th
                span Column
              th
                span Column
              th
                span Column
              th
                span Column
          tbody
            tr.tr-bg
              td.lalign Data 1
              td Data 2
              td Data 3
              td Data 4
            tr
              td.lalign Data 5
              td Data 6
              td Data 7
              td Data 8
            tr
              td.lalign Data 9
              td Data 10
              td Data 11
              td Data 12
            tr
              td.lalign Data 13
              td Data 14
              td Data 15
              td Data 16
            tr
              td.lalign Data 17
              td Data 18
              td Data 19
              td Data 20
        ul.tabs
          li.tab-link.current-tab(data-tab='tab-1') Working hours per Month
          li.tab-link(data-tab='tab-2') Speed Profile
        #tab-1.tab-content.current-tab
          img(src="img/workinghours.jpg")
        #tab-2.tab-content
          img(src="img/speed-profile.jpg")
    section.engine
      .container
        h2.h-main Shipyards history
        table#history
          thead
            tr
              th
                span Start time
              th
                span End time
              th
                span Yard name
              th
                span Country
              th
                span Duration
          tbody
            tr.tr-bg
              td.lalign 2015-08-14  06:35:43.2515
              td 2015-11-14  06:35:43.2515
              td Emma Maersk
              td Denmark
              td -76 days
            tr
              td.lalign 2015-07-28  06:35:43.968
              td 2015-10-14  06:35:43.968
              td Emma Maersk
              td Denmark
              td 28 days
          
    section.last-ports
      .container
        .row
          .col-sm-6.col-xs-12
            h2.h-main Last Posts
            table#table-info
              thead
                tr
                  th
                    span Port
                  th
                    span Berth
                  th
                    span Cast off
              tbody
                tr.tr-bg
                  td Hamburg
                  td 42
                  td 24
                tr
                  td Rotterdam
                  td 55
                  td 31
            
          .col-sm-6.col-xs-12
            h5 Sailing Area
            img.map-asiling(src="img/map-2.jpg")
    section.master-data
      .container
        h2.h-main Master Data
        ul.tabs2
          li.tab-link2.current-tab2(data-tab='tab-m1') General
          li.tab-link2(data-tab='tab-m2') Management
          li.tab-link2(data-tab='tab-m3') Tonnage
          li.tab-link2(data-tab='tab-m4') Dimensions
          li.tab-link2(data-tab='tab-m5') Capacity
          li.tab-link2(data-tab='tab-m6') Yard
          li.tab-link2(data-tab='tab-m7') Classification
        #tab-m1.tab-content2.current-tab2
          table.table-info
            tr
              td Type:
              td Cargo
            tr
              td Year of Build:
              td 2006
            tr
              td IMO:
              td 9474060
            tr.tr-bg
              td Callsign:
              td ESJO
            tr
              td MMSI:
              td 276786000
            tr
              td Length:
              td 200.0m
            tr
              td Beam:
              td 18.0m
            tr
              td GRT:
              td 20000
            tr
              td Manager:
              td MAERSK LINE A/S
            tr
              td Owner:
              td MAERSK LINE A/S
            tr
              td Insurer:
              td BRITANNIA STEAMSHIP INSURANCE ASSOCIATION LD
            tr
              td Shipyard:
              td ODENSE STEEL SHIPYARD LTD.
            tr
              td Class:
              td DNVGL
            tr
              td Engine:
              td DOOSAN ENGINE CO. LTD.
            tr
              td Aux Engine:
              td MAK 6M43
            tr
              td Vessel age:
              td 11 years
            tr
              td Next Docking:
              td JAN 2018 (expected)
            tr
              td Next Survey:
              td JAN 2018
        #tab-m2.tab-content2
          h3 Info about Management
        #tab-m3.tab-content2
          h3 Info about Tonnage
        #tab-m4.tab-content2
          h3 Info about Dimensions
        #tab-m5.tab-content2
          h3 Info about Capacity
        #tab-m6.tab-content2
          h3 Info about Yard
        #tab-m7.tab-content2
          h3 Info about Classification

    footer
      .container
        .footer-block
          p 2017 © MDS
          ul.footer-link
            li
              a(href="#") Blog
            li
              a(href="#") Contact
            li
              a(href="#") Catalog
            li
              a(href="#") Shipyards
            li
              a(href="#") Shipowners
            li
              a(href="#") Accounts
            li
              a(href="#") Privancy policy
            li
              a(href="#") Terms & conditions
            li
              a(href="#") Imprint
    
            


                
